{% extends 'admin/master.html' %}

{% block body %}
<ul>
{% if current_user.is_authenticated %}
  <li>Hello {{ current_user.email }}</li>
  <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
{% else %}
  <li>Hi! You're not logged in. Let's fix that.</li>  
  <li><a href="{{ url_for('security.login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Login</a></li>
{% endif %}
</ul>
{% endblock %}
