{% extends "base.jinja2" %}
{% block title %}Form data{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/css/theme.default.min.css" integrity="sha256-kZJ4kB78IbXuxMtCpmaXzii8vxEKtu8pjicH62E0/qM=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
    <table id="formdata">
        <thead>
            <tr><td>Key</td><td>Value</td></tr>
        </thead>
        <tbody>
            {% for k,v in formdata.items() %}
            <tr><td>{{k}}</td><td>{{v}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extrajs %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--<![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/jquery.tablesorter.min.js" integrity="sha256-UD/M/6ixbHIPJ/hTwhb9IXbHG2nZSiB97b4BSSAVm6o=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() { $("#formdata").tablesorter({initWidgets: true, widgets: ['zebra']}); });
    </script>
{% endblock %}
