{% extends "base.jinja2" %}
{% block title %}{{experiment.name}}{% endblock %}
{% block extracss %}<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.19.1/css/theme.default.css"/>{% endblock %}

{% block content %}
    <h1>{{experiment.name}}</h1>

    <h2>Lists</h2>
    <table id="lists" class="tablesorter">
        <thead>
            <tr><td>Number</td><td>Name</td><td>Assignments</td></tr>
        </thead>
        <tbody>
    {% for l in experiment.lists %}
        <tr><td>{{l.number}}</td><td>{{l.name}}<td>{{l.assignments|count}}</td></tr>
    {% endfor %}
        </tbody>
    </table>

    <h2>Assignments</h2>
    <table id="assignments" class="tablesorter">
    <thead>
      <tr><td>AssignmentId</td><td>State</td><td>List</td></tr>
    </thead>
    {% for a in experiment.assignments %}
    <tr><td>{{a.assignmentid}}</td><td>{{a.state}}</td><td>{{a.triallist.name}}</td></tr>
    {% endfor %}
    </table>
{% endblock %}

{% block extrajs %}
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.19.1/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#lists").tablesorter();
            $("#assignments").tablesorter();
        });
    </script>
    <!--<![endif]-->
{% endblock %}
