{% extends "base.jinja2" %}
{% block extracss %}
    {% if jqueryui %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.min.css" integrity="sha256-pXjw+x4dOoTZgRBmPD/ilEFccRj2c57rZaYj9A9kRrQ=" crossorigin="anonymous" />
    {% endif %}
    <style type="text/css">
        #comment, #submit {display:none;}
    </style>
    {% block exptcss %}{% endblock %}
    {% block headjs %}{% endblock %}
{% endblock %}

{% block form %}
{% if formtype == 'sandbox' %}
    <form id="results" method="post" action="https://workersandbox.mturk.com/mturk/externalSubmit">
{% elif formtype == 'mturk' %}
    <form id="results" method="post" action="https://www.mturk.com/mturk/externalSubmit">
{% else %}
    <form id="results" method="post" action="{{ url_for('common.response_repeater') }}">
{% endif %}
{% block formfields %}{% endblock %}
{% block exptformfields %}{% endblock %}
<input type="hidden" id="experiment" name="experiment" value="{{experiment}}"/>
<input type="hidden" id="list" name="list" value="{{condition}}"/>
<input type="hidden" id="assignmentId" name="assignmentId" value="{{amz.assignmentId}}"/>
<input type="hidden" id="browserid" name="browserid" value="NA"/>
<div id="comment">
    <p>If you are interested in hearing how the experiments you are
        participating in help us to understand the human brain, feel
        free to subscribe to our <a href="https://hlplab.wordpress.com/">
            lab blog</a> on which we announce new findings. Note that
        typically about one year passes before an experiment is
        published.</p>
    <p>Feedback on this HIT (optional):</p>
    <p><textarea id="commentarea" name="comment" cols="80" rows="3"></textarea></p>
</div>
<button type="submit" name="submit" id="submit" disabled="disabled">Submit</button>
</form>
<!--[if lt IE 9]>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!--<![endif]-->
{% if formtype == 'live' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js" integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous"></script>
{% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.js" integrity="sha256-aMjiiYtQDaPPLj8A9EwJjh8dzP6iyo9pgcSjLaIYTnc=" crossorigin="anonymous"></script>
{% endif %}
{% endblock %}

{% block extrajs %}
{% if jqueryui %}
    <script type="text/javascript">$.uiBackCompat = false;</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
{% endif %}
{% block exptjs %}{% endblock %}
{% endblock %}
