<div id="exposure">
    <audio id="exposure_audio">
        <source src="{{ url_for('socalign.static', filename="stimuli/%s.ogg"|format(exposure_stimuli)) }}" type="audio/ogg" />
        <source src="{{ url_for('socalign.static', filename="stimuli/%s.mp3"|format(exposure_stimuli)) }}" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
</div>
