#oldBrowserMessage {display:none;}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}
