#statusarea {
  position:fixed;
  top: 0;
  left: 0;
  height: auto;
  margin: 0 auto;
  padding:0;
}

.statusicon {
  display: none;
}

/* upload progress */
.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

.progresstext {
  display: none;
}
