#page1, #page2, #page3, #page4 {display:none;}

table.survquest {
    width: 400px;
    border: solid 1px;
    margin: 2em;
}
table.survquest td {
    text-align: center;
    vertical-align:top;
    width: 14%;
}
table.survquest p.sentence, #textqs span {
    width: 400px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.surveyhead {
    /*border: 1px dashed black;*/
    color: white;
    background: #00467F;
    padding: 0.5em;
    width: 400px;
    text-align: center;
    margin-left: 2em;
}
#survey ul {
    list-style: none;
}
/*#textqs li {
    width: 400px;
    border: 1px solid black;
    margin-right: -1em;
    margin-top: 2em;
    padding: 1em;
}*/

label.error {
  color: red;
  font-size: large;
  font-weight: bold;
}
