{% extends "webspr.jinja2" %}
{% block exptcss %}
    <style type="text/css">
        #rsrb, #langbackground {display:none;}
    </style>
{% endblock %}
{% block exptformfields %}
<div id="langbackground">
  <h3>Language Background</h3>
  <p>
    Please answer these questions about your language background.
  </p>
  <ol>
    <li>
      <p>Is English your first language?</p>
        <label for="english_first_lang_yes">Yes<input type="radio" name="english_first_lang" id="english_first_lang_yes" value="Yes"></label>
        <label for="english_first_lang_no">No<input type="radio" name="english_first_lang" id="english_first_lang_no" value="No"></label>
    </li>
    <li>
      <p>Do you speak any other languages?</p>
      <label for="speak_other_lang_yes">Yes<input type="radio" name="speak_other_lang" id="speak_other_lang_yes" value="Yes"></label>
      <label for="speak_other_lang_no">No<input type="radio" name="speak_other_lang" id="speak_other_lang_no" value="No"></label>
    </li>
    <li>
      <p>If so, which ones and when did you learn them?</p>
      <textarea name="other_lang_detail" rows="5" cols="80"></textarea>
    </li>
  </ol>
  <button type="button" id="endlangbg" class="next">Next</button>
</div>
{% endblock %}

{% block exptjs %}
    <script type="text/javascript">window.condition = "{{condition}}";</script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="{{ url_for('sprrunner.static', filename='js/ditransdef.js') }}"></script>
{% endblock %}
