{% macro yesno(name, question, btn=True) -%}
    <div class="yesno surveyq">
        <p>{{question}}</p>
        <input type="radio" name="{{name}}" id="{{name}}_yes" value="Yes"/><label for="{{name}}_yes">Yes</label>
        <input type="radio" name="{{name}}" id="{{name}}_no" value="No"/><label for="{{name}}_no">No</label>
    </div>
    {% if btn -%}
        <button type="button" class="nextq" disabled="disabled">Next</button>
    {%- endif %}
{%- endmacro %}


{% macro optscale(name, question, options, btn=True) -%}
    <div class="optscale surveyq">
        <p>{{question}}</p>
        {% for opt in options -%}
            <input type="radio" name="{{name}}" id="{{name}}_{{opt.id}}" value="{{opt.value}}"/><label for="{{name}}_{{opt.id}}">{{opt.label}}</label>
        {% endfor -%}
    </div>
    {% if btn -%}
        <button type="button" class="nextq" disabled="disabled">Next</button>
    {%- endif %}
{%- endmacro %}

{% macro yesnoscale(name, question, btn=True) -%}
    {% set options = [
               {'label': 'Certainly No' , 'id': 'certainly_no', 'value': 'Certainly No'},
               {'label': 'Probably No' , 'id': 'probably_no', 'value': 'Probably No'},
               {'label': 'Probably Yes' , 'id': 'probably_yes', 'value': 'Probably Yes'},
               {'label': 'Certainly Yes' , 'id': 'certainly_yes', 'value': 'Certainly Yes'}
               ] %}
    {{ optscale(name, question, options, btn) }}
{%- endmacro %}

{% macro wouldsay(name, question, btn=True) -%}
    {% set options = [
            {'label':"Would say", 'id': 'wouldsay', 'value': "Would say"},
            {'label':"Wouldn't say", 'id': 'wouldntsay', 'value': "Wouldn't say"}
            ] %}
    {{ optscale(name, question, options, btn) }}
{%- endmacro %}

{% macro multichoice(name, question, options, btn=True) -%}
    <div class="multichoice surveyq">
        <p>{{question}}</p>
        <select name="{{name}}">
            {% for opt in options -%}
                <option value="{{opt}}">{{opt}}</option>
            {% endfor -%}
        </select>
    </div>
    {% if btn -%}
        <button type="button" class="nextq" disabled="disabled">Next</button>
    {%- endif %}
{%- endmacro %}

{% macro textentry(name, question, btn=True) -%}
    <div class="textentry surveyq">
        <p>{{question}}</p>
        <input name="{{name}}" type="text"/>
    </div>
    {% if btn -%}
        <button type="button" class="nextq" disabled="disabled">Next</button>
    {%- endif %}
{%- endmacro %}


<div id="expt_survey" class="survey">
    <h2>Please answer the following questions about the experiment you just completed.</h2>
    <ul>
        <li>{{yesnoscale("postexperiment.odd_sentences","Did you think there was anything odd about the sentences you read?")}}</li>
        <li>{{yesnoscale("postexperiment.unusual_grammar","Did you think that some of the sentences had unusual grammar to them?")}}</li>

        <li>
            {{yesnoscale("postexperiment.see_needswashed","Did you see any sentences with structures like <em>The car needs washed</em>?",False)}}
            {{yesnoscale("postexperiment.see_mightcould","Did you see any sentences with structures like <em>I might could do my homework</em>?",False)}}
            {{yesnoscale("postexperiment.see_positiveanymore","Did you see any sentences with structures like <em>Gas is so expensive anymore</em>?",False)}}
            {{yesnoscale("postexperiment.see_reflexiveme","Did you see any sentences with structures like <em>I bought me a house</em>?")}}
        </li>

        <li>
            {{yesnoscale("postexperiment.hear_needswashed","Outside of this experiment, have you heard people say things like <em>The car needs washed</em>?",False)}}
            {{yesnoscale("postexperiment.hear_mightcould","Outside of this experiment, have you heard people say things like <em>I might could do my homework</em>?")}}
        </li>

        <li>
            <p>For the next two questions, please think about what you would say in a conversation with a friend.  We are interested with what YOU would actually SAY, no matter what you think is "correct" or what you "should say".</p>
            {{yesnoscale("postexperiment.useneedswashed","Would you use a sentence like <em>The car needs washed</em> in a conversation with a friend?",False)}}
            {{yesnoscale("postexperiment.usemodalstacking", "Would you use a sentence like <em>I might could do my homework</em> in a conversation with a friend?")}}
        </li>

        <li>
            <p>For each of the following cities, we'd like your judgment on whether you think a person in the city would say a sentence like <em>The car needs washed</em>. For these questions, we just mean the AVERAGE person in the city, not anyone you know in particular.</p>
            <p><em>The car needs washed</em>:</p>
            {{wouldsay("postexperiment.useneedswashed.Boston","Boston", False)}}
            {{wouldsay("postexperiment.useneedswashed.Denver","Denver",False)}}
            {{wouldsay("postexperiment.useneedswashed.Minneapolis","Minneapolis",False)}}
            {{wouldsay("postexperiment.useneedswashed.Nashville","Nashville",False)}}
            {{wouldsay("postexperiment.useneedswashed.Pittsburgh","Pittsburgh",False)}}
            {{wouldsay("postexperiment.useneedswashed.Seattle","Seattle")}}
        </li>

        <li>
            <p>For each of the following cities, we'd like your judgment on whether you think a person in the city would say a sentence like <em>I might could do my homework</em>. For these questions, we just mean the AVERAGE person in the city, not anyone you know in particular.</p>
            <p><em>I might could do my homework</em>:</p>
            {{wouldsay("postexperiment.usemodalstacking.Boston","Boston", False)}}
            {{wouldsay("postexperiment.usemodalstacking.Denver","Denver",False)}}
            {{wouldsay("postexperiment.usemodalstacking.Minneapolis","Minneapolis",False)}}
            {{wouldsay("postexperiment.usemodalstacking.Nashville","Nashville",False)}}
            {{wouldsay("postexperiment.usemodalstacking.Pittsburgh","Pittsburgh",False)}}
            {{wouldsay("postexperiment.usemodalstacking.Seattle","Seattle")}}
        </li>

    </ul>
</div>

<div id="lang_survey" class="survey">
    <h2>Please answer the following questions to help us learn more about your language background.</h2>
    <ul>
        <li>{{textentry("postexperiment.native_language","What do you consider your native language?")}}</li>
        <li>{{textentry("postexperiment.first_language","What is the first language you ever learned?")}}</li>
        <li>{{textentry("postexperiment.simultaneous_language","If you learned two first languages simultaneously, what was the other one?<br/>If you did not learn two first languages, please enter: none")}}</li>
        <li>{{textentry("postexperiment.where_learn_english","Where (city, state, country) did you learn English?")}}</li>
        <li>{{textentry("postexperiment.livenow","Where (city, state, country) do you live now?")}}</li>
        {# current version doesn't use Pittsburgh stuff
        <li>{{yesno("postexperiment.interact_pitt","Do you regularly interact with anyone (family member, friend, classmate) from Pittsburgh?")}}</li>
        <li>{{multichoice("postexperiment.time_in_pitt", "How much time have you spent in Pittsburgh? (choose one)",
                                    ("None","Less than a day","Less than a week",
                                    "Less than a month","Less than a year",
                                    "Less than 10 years","More than 10 years"),
                                    False
            )}}
            {{textentry("postexperiment.first_time_pitt","If yes, how old were you the first time you went?")}}
        </li>#}
    </ul>
</div>
