{% extends "experiment_base.jinja2" %}
{% block title %}Flex SPR{% endblock %}
{% block exptcss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('sprrunner.static', filename='css/needswashed.css') }}" />
{% endblock %}
{% block content %}
    {% include "oldbrowser.jinja2" %}
    <div id="instructions">
        <p>In this task you'll read simple sentences and answer questions about them.
           The experiment will take about 25-35 minutes.</p>
        <p>For this particular experiment we are only interested in workers from the
         following states or regions: <span style="font-weight: bold; font-size: large;">{{ states.names|join(', ') }}</span>.
         Please only accept this HIT if you live in that region. We will be checking your location in the next step
         after you click the button to dismiss the instructions.</p>
        <img src='{{ url_for('sprrunner.static', filename="img/") }}{{amz.region}}.png' width="402" height="254" alt="{{amz.region}} area"/>
        <p>Sometimes it can happen that technical difficulties cause experimental
            scripts to freeze so that you will not be able to submit a HIT. We are
            trying our best to avoid these problems. Should they nevertheless occur,
            we urge you to contact us.</p>
        <p>If you are interested in hearing how the experiments you are participating
            in help us to understand the human brain, feel free to subscribe to our
            <a href="#">lab blog</a> on which we announce <!-- FIXME: link to your lab's blog here -->
            new findings. Note that typically about one year passes before an experiment
            is published.</p>
        <div id="consent">
            By accepting this HIT, you confirm that you have read and understood the
            <!-- FIXME: link to your consent form here -->
            <a target="_blank" href="#">consent form</a>,
            that you are willing to participate in this experiment, and that you
            agree that the data you provide by participating can be used in
            scientific publications (no identifying information will be used).
            Sometimes it is necessary to share the data elicited from you
            &mdash; including sound files &mdash; with other researchers for scientific
            purposes (for replication purposes). That is the only reason for
            which we will share data and we will only share data with other
            researchers and only if it is for non-commercial use. Identifying
            information will <span style="font-weight:bold;">never</span> be shared (your MTurk ID will be replaced
            with an arbitrary alphanumeric code).
        </div>
        <p style="font-weight:bold;">Once you press the button below, these instructions
            will disappear, so make sure you understand them fully before you start.</p>
        <button type="button" id="endinstr">I confirm that I have read and understood the instructions and want to start the experiment</button>
    </div>
    <div id="flashcontent"></div>
{% endblock %}
{% block formfields %}
    {% if not preview-%}
    {% include "state_select.html" %}
    <div id="map_container">
        <img src="#" id="location" width="600" height="400" alt="">
        <br>
        <input type="checkbox" id="badlocation" name="badlocation" value="Yes"/><label for="badlocation">Location incorrect?</label>
        <input type="text" name="reportedlocation" placeholder="Your location (i.e. City, State)" disabled="disabled">
        <br/>
        <button type="button" id="dismiss_map" disabled='disabled'>Continue to experiment</button>
    </div>
    {% include "needswashed_survey.jinja2" %}
    {% include "rsrb_survey.jinja2" %}
    {%- endif %}
    <input type="hidden" id="flashversion" name="flashversion" value="NA"/>
    <input type="hidden" id="location_val" name="location" value="NA"/>
    <input type="hidden" id="region" name="region" value="{{amz.region}}"/>
{% endblock %}

{% block exptjs %}
    <script type="text/javascript">
        experiment = (function(){
          var properties = {
            'condition': "{{condition}}",
            'states': {{ states.names }},
            'abbrevs': {{ states.abbrevs }}
          };

          return {
            get: function(prop) {
              return properties[prop];
            },
            set: function(prop, val) {
              properties[prop] = val;
            }
          };
        })();
    </script>
    {% if not preview %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key={{gmaps_key}}"></script>
    <script type="text/javascript" src="{{ url_for('sprrunner.static', filename='js/needswashed.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('common.static', filename='js/gmaps.js') }}"></script>
    {% endif %}
{% endblock %}
