{% extends "experiment_base.jinja2" %}
{% block title %}Flex SPR{% endblock %}
{% block exptcss %}
    <style type="text/css">
        #rsrb {display:none;}
    </style>
{% endblock %}
{% block content %}
<div id="instructions">
    {% include "instructions.EXPERIMENT.html"|replace("EXPERIMENT", amz.experiment) %}
    <p>Sometimes it can happen that technical difficulties cause experimental
        scripts to freeze so that you will not be able to submit a HIT. We are
        trying our best to avoid these problems. Should they nevertheless occur,
        we urge you to contact us.</p>
    <p>If you are interested in hearing how the experiments you are participating
        in help us to understand the human brain, feel free to subscribe to our
        <a href="http://hlplab.wordpress.com">lab blog</a> on which we announce
        new findings. Note that typically about one year passes before an experiment
        is published.</p>
    <div id="consent">
        By accepting this HIT, you confirm that you have read and understood the
        <a target="_blank" href="https://www.hlp.rochester.edu/consent/RSRB_24018_Consent_Current.pdf">consent form</a>,
        that you are willing to participate in this experiment, and that you
        agree that the data you provide by participating can be used in
        scientific publications (no identifying information will be used).
        Sometimes it is necessary to share the data elicited from you
        &mdash; including sound files &mdash; with other researchers for scientific
        purposes (for replication purposes). That is the only reason for
        which we will share data and we will only share data with other
        researchers and only if it is for non-commercial use. Identifying
        information will <span style="font-weight:bold;">never</span> be shared (your MTurk ID will be replaced
        with an arbitrary alphanumeric code).
    </div>
        <p style="font-weight:bold;">Once you press the button below, these instructions
        will disappear, so make sure you understand them fully before you start.</p>
        <button type="button" id="endinstr">I confirm that I have read and understood the instructions and want to start the experiment</button>
</div>
<div id="flashcontent"></div>
<div id="fixflash" style="display: none;">
{% endblock %}
{% block formfields %}
    {% if not preview-%}
    {% include "rsrb_survey.jinja2" %}
    {%- endif %}
        <input type="hidden" id="flashversion" name="flashversion" value="NA"/>
{% endblock %}

{% block exptjs %}
    <script type="text/javascript">window.condition = "{{condition}}";</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js" integrity="sha256-oYy9uw+7cz1/TLpdKv1rJwbj8UHHQ/SRBX5YADaM2OU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('sprrunner.static', filename='js/webspr.js') }}"></script>
    <script type="text/javascript">
        swfurl = "{{ url_for('sprrunner.static', filename='flexspr_4.15.swf') }}";
    </script>
{% endblock %}
