body {
    width: 1000px;
}
#instructions {
    height: 100%;
    width: 100%;
}
#oldBrowserMessage, #current_state, #map_container, #comment, #submit, #expt_survey, #lang_survey, #rsrb {display:none;}
.survey ul {list-style-type: none;}
.survey li {display: none;}
.nextq {margin-top: 1ex;}
